@font-face {
    font-family: ProjectFont;
    src: url(./font/DBHeaventBdCondv321.ttf);
}


body {
    font-family: ProjectFont;
    font-size: xx-large;
    background-color: #FFF7EC;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    margin: 0; 
}

.loginbox{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    height: auto;
    padding: 1em;
    background-color: #ffffff;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.head{
    text-align: center;
    color: #000000;
}

.login{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

input{
    width: 100%;
    height: auto;
    font-size: x-large;
    margin-bottom: 5%;  
}


button.login {
    font-family: ProjectFont;
    display: flex;
    width: 50%; 
    height: 50px; 
    font-size: xx-large; 
    padding: 1%; 
    justify-content: center;
    align-items: center; 
    background-color: #b0904e;
    color: white;
    transition: 0.2s;
    border-radius: 15px;
    border: none;
}

button.login:hover{
    background-color: #916D39;
    transition: 0.2s;
    cursor: pointer;
}

.loginbox img{
    display: flex;
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.rememfor{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.remembercheckbox {
    display: flex;
    align-items: center;
    white-space: nowrap;
    margin-bottom: 10px;
}

.forgetpassbox a{
    color: black;
}
