@font-face {
    font-family: ProjectFont;
    src: url(./font/DBHeaventBdCondv321.ttf);
}

body {
    margin: 0;
    font-family: ProjectFont;
    background-color: #F5F0EB;
}

li a{
    text-decoration: none;
}

nav img{
    height: auto;
    margin-left: 1%;
}
nav ul{
    display: flex;
    list-style: none;
    margin-right: 1%;
    z-index: 1000;
    position: relative;
    
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    position: relative; 
    background-color: white;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin:0 5px;
    
}

nav ul li a{
    color: black;
    font-size: x-large;
    padding: 10px;
    border-radius: 10px;
}

a:hover{
    background-color: #ffd190;
    transition: 0.2s;
}


main{
    font-size: 24px;
}

h2 {
    font-size: 36px;
    margin: 20px 105px;
    color: #333;
}

.filter {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    float: right;
}

.filter select{
    font-family:ProjectFont;
    padding: 10px;
    font-size: 28px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

thead {
    background-color: #C89C2B;
    color: #fff;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.available {
    color: green;
    font-weight: bold;
}

.unavailable {
    color: red;
    font-weight: bold;
}

tbody tr:hover{
    background-color: rgb(216, 215, 215);
}

tbody tr.selected {
    background-color: rgb(216, 215, 215);
}

.page {
    display: flex;
    list-style-type: none;
    justify-content: center;
}
.page li {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 5px;
    cursor: pointer;
}


.btn {
    width: 202px;
    height: 51px;
    background-color: #c9a94b;
    color: white;
    border-radius: 8px;
    align-self: flex-end;
    margin-left: auto;
    text-decoration: none;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.btn:hover {
    background-color: #916d39;
}

button:disabled {
    cursor: not-allowed;
}