
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #F5F0EB;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid black;
    background-color: #ffffff;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

h2 {
    margin: 20px 0;
    color: #333;
}

.filter {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    float: right;
}

.filter select{
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

thead {
    background-color: #C89C2B;
    color: #fff;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.available {
    color: green;
    font-weight: bold;
}

.unavailable {
    color: red;
    font-weight: bold;
}

tbody tr:hover{
    background-color: rgb(216, 215, 215);
}

tbody tr.selected {
    background-color: rgb(216, 215, 215);
}

.page {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.page button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #fff;
    cursor: pointer;
}

.continue {
    display: flex;
    justify-content: flex-end;
}

.continue button {
    width: 220px;
    padding: 14px 80px;
    background-color: #C89C2B;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: large;
}

button.now{
    color: rgb(255, 255, 255);
    background-color: black;
}

.logo img{
    width: 100px;
    height: auto;
}

.btn {
    width: 202px;
    height: 51px;
    background-color: #c9a94b;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    align-self: flex-end;
    margin-left: auto;
    text-decoration: none;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.btn:hover {
    background-color: #916d39;
}